<div class="container my-3">
    <h3>Add a Todo</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp" [(ngModel)]="title">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Description</label>
            <input type="text" class="form-control" id="desc"  name="desc" [(ngModel)]="desc">
        </div>
        <button type="submit" class="btn btn-sm btn-danger">Submit</button>
    </form>
</div>